# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
predictor_management.egg-info/

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# virtualenv
.venv/
venv/
ENV/

# Rope project settings
.ropeproject

# vim
*.swp
*.swo

# PyCharm, IntelliJ, etc
.idea/

# ctags
tags

# settings
settings.cfg
properties/settings.cfg
properties/
